.panel {
    background-color: #f5f5f5;
    padding: 50px 50px 40px 50px;
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
}

.panel h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 8px 0;
}

.panel .emailsField {
    background-color: #ffffff;
    width: 100%;
    min-height: 200px;
    border-top: 1px solid #cccccc;
    padding: 7px 4px 3px 6px;
}

.panel input[type="text"] {
    border: 0px;
    font-size: inherit !important;
    outline: none;
}

.panel span.viewEmail {
    display: inline-block;
    padding-left: 10px;
    padding-right: 7px;
    margin-right: 4px;
    background-color: rgba(102, 152, 255, 0.2);
    border-radius: 12px;
    color: #4d4d4d;
}

.panel span.invalid {
    display: inline-block;
    padding-left: 10px;
    padding-right: 7px;
    margin-right: 4px;
    color: #4d4d4d;
    border-bottom: 1px dotted red;
}

.panel span.editEmail {
    display: inline-block;
    padding-left: 10px;
    padding-right: 7px;
    margin-right: 4px;
}

.panel span input[type="text"] {
    border: 0px;
    font-size: inherit !important;
    outline: none;
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
    margin-left: -1px;
}

.panel .emailValue {
    margin-right: -1px;
}

.panel .deleteEmail {
    display: inline-block;
    height: 22px;
    width: 20px;
    font-size: 17px;
    font-weight: lighter;
    vertical-align: middle;
    cursor: pointer;
    margin-right: -1px;
    padding-top: 3px;
}

.panel .deleteEmailView::before {
    content: '\D7';
    margin-left: 9px;
}

.panel .deleteEmailEdit::before {
    content: '\D7';
    margin-left: 2px;
}